	<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    <div id="success" class="alert alert-success"{{#if noMessages}}hidden{{/if}}>
       {{ successMsg}}
    </div>
  </div>
</div>

	<div id="main">		
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4">
					<div class="review text-center">
						<figure>
							<img src="/asset/images/person_3.jpg" alt="user">
						</figure>
						<span>Rob Smith </span>
						<span class="star">
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
						</span>
						<blockquote>
							<p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
						</blockquote>
					</div>
				</div>
				<div class="col-md-4">
					<div class="review text-center">
							<figure>
							<img src="/asset/images/person_2.jpg" alt="user">
						</figure>
						<span>John Doe </span>
						<span class="star">
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
						</span>
						<blockquote>
							<p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
						</blockquote>
					</div>
				</div>
				<div class="col-md-4">
					<div class="review active text-center">
						<figure>
							<img src="/asset/images/person_1.jpg" alt="user">
						</figure>
						<span>Jean Doe </span>
						<span class="star">
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star"></i>
						</span>
						<blockquote>
							<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.&rdquo;</p>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="row fh5co-feature">
				<div class="col-md-6 col-md-push-6">
					<div class="fh5co-copy">
						<div class="fh5co-copy-inner">
							<h2>Easy Order</h2>
							<p>You can easily make an order from our site <a href="Order Now"></a>.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-md-pull-6">
					<div class="fh5co-img text-right">
						<figure class="fh5co-figure animate-box">
							<img class="img-2" src="/asset/images/book_white.png" alt="Free Website Template by FreeHTML5.co">	
						</figure>
					</div>
				</div>
			</div>
			<!-- END feature -->

			<div class="row fh5co-feature fh5co-reverse">
				<div class="col-md-6">
					<div class="fh5co-copy">
						<div class="fh5co-copy-inner">
							<h2>We Sell Ebook Also</h2>
							<p>We Sell E-book Also.. Buy Ebook and Save Mony <a href="/order">Buy Ebooks</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="fh5co-img text-left">
						<figure class="fh5co-figure animate-box">
							<img class="img-2" src="/asset/images/book_black.png" alt="Free Website Template by FreeHTML5.co">	
						</figure>
					</div>
				</div>
			</div>
			<!-- END feature -->

			<div class="row fh5co-feature last-feature">
				<div class="col-md-6 col-md-push-6">
					<div class="fh5co-copy">
						<div class="fh5co-copy-inner">
							<h2>Our Books is orginal</h2>
							<p>We don,t sell clone or copy book all book is original.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-md-pull-6">
					<div class="fh5co-img text-right">
						<figure class="fh5co-figure animate-box">
							<img class="img-2" src="/asset/images/book_white.png" alt="Free Website Template by FreeHTML5.co">	
						</figure>
					</div>
				</div>
			</div>
			<!-- END feature -->

		
		</div>


		<div class="fh5co-testimonial">
			<div class="container">
				<div class="row text-center fh5co-heading">
					<h2>More Customer Review</h2>
				</div>
				<div class="owl-carousel owl-carousel-fullwidth">
					<div class="item">
						<div class="testimony-slide active text-center">
							<figure>
								<img src="/asset/images/person_1.jpg" alt="user">
							</figure>
							<span>Jean Doe </span>
							<span class="review">
								<i class="icon-star colored"></i>
								<i class="icon-star colored"></i>
								<i class="icon-star colored"></i>
								<i class="icon-star colored"></i>
								<i class="icon-star"></i>
							</span>
							<blockquote>
								<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
							</blockquote>
						</div>
					</div>
					<div class="item">
						<div class="testimony-slide active text-center">
							<figure>
								<img src="/asset/images/person_2.jpg" alt="user">
							</figure>
							<span>John Doe </span>
							<span class="review">
								<i class="icon-star colored"></i>
								<i class="icon-star colored"></i>
								<i class="icon-star colored"></i>
								<i class="icon-star colored"></i>
								<i class="icon-star colored"></i>
							</span>
							<blockquote>
								<p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
							</blockquote>
						</div>
					</div>
					<div class="item">
						<div class="testimony-slide active text-center">
							<figure>
								<img src="/asset/images/person_3.jpg" alt="user">
							</figure>
							<span>Rob Smith </span>
							<span class="review">
								<i class="icon-star colored"></i>
								<i class="icon-star colored"></i>
								<i class="icon-star colored"></i>
								<i class="icon-star colored"></i>
								<i class="icon-star colored"></i>
							</span>
							<blockquote>
								<p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="features">
			<div class="container">
				<div class="row text-center fh5co-heading">
					<div class="col-md-8 col-md-offset-2">
						<h2>More Features</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 animate-box">
						<div class="feature-center">
							<span class="icon">
								<i class="icon-tablet"></i>
							</span>
							<h3>iBook</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
						</div>
					</div>
					<div class="col-md-3 animate-box">
						<div class="feature-center">
							<span class="icon">
								<i class="icon-heart"></i>
							</span>
							<h3>Love by everyone</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
						</div>
					</div>
					<div class="col-md-3 animate-box">
						<div class="feature-center">
							<span class="icon">
								<i class="icon-star"></i>
							</span>
							<h3>Good Review</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
						</div>
					</div>
					<div class="col-md-3 animate-box">
						<div class="feature-center">
							<span class="icon">
								<i class="icon-cog"></i>
							</span>
							<h3>Mob</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="get-subscribe">
			<div class="container">
				<div class="row text-center fh5co-heading">
					<div class="col-md-8 col-md-offset-2">
						<h2>Subscribe</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="get-subscribe">
					<form class="form-inline">
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">Name</label>
								<input type="text" class="form-control" id="name" placeholder="Name">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" class="btn btn-default btn-block">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<footer id="footer">
			<div class="container">
				<div class="col-md-12 text-center">
					<p class="copyright">
						<small>&copy; Diu Book stre 2-015</small>
						<em><small>Designed by <a href="" target="_blank">Diu Book store</a></em>
					</p>
					<ul class="fh5co-social">

						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-apple"></i></a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>